{{#if logged_in}}
<section class="container">
    <h3 class="family-name">Welcome, {{user.last_name}} Family</h3>

    <section class="flex-row justify-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="open-modal"
            data-bs-whatever="@mdo">Add a Child</button>
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a child</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="child-name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="child-name">
                            </div>
                            <div class="mb-3">
                                <label for="child-age" class="col-form-label">Age</label>
                                <input type="text" class="form-control" id="child-age">
                            </div>
                            <div class="mb-3">
                                <label for="child-goal" class="col-form-label">Child's Goal</label>
                                <input type="number" class="form-control" id="child-goal">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">What is the child saving for?</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="save-button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            {{#each user.children as |child|}}
            <div class="child card  p-5 m-5">
                <h2 class="title is-size-1 is-size-3-mobile">{{child.name}} {{child.age}} years old</h2>
                <h2 class="title is-size-1 is-size-3-mobile"> is saving for </h2>
                <h1 class="title is-size-1 is-size-3-mobile"> {{child.description}}</h1>
                <h3 class="title is-size-1 is-size-3-mobile">Goal: ${{child.goal}}</h3>
                <h3>Eanings: ${{totalEarnings}}</h3>
                {{#each child.chores as |chore|}}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{chore.name}} {{chore.rate}}
                    </label>
                </div>
                
                {{/each}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#child-modal-{{child.id}}" data-bs-whatever="@getbootstrap">Add a chore</button>

                <div class="modal fade" id="child-modal-{{child.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Chore</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="chore-description" class="col-form-label">Chore Description</label>
                                        <input type="text" class="form-control" id="chore-description">
                                    </div>
                                    <div class="mb-3">
                                        <label for="pay-rate" class="col-form-label">Pay Rate</label>
                                        <input type="text" class="form-control" id="pay-rate">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary child-modal" id="child-modal-id"
                                    data-childid="{{child.id}}">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</section>
{{else }}

<a href="./login.handlebars">Login first</a>

{{/if}}
<script src="/js/addchild.js"></script>
<script src="/js/addchore.js"></script>